<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="Mail.From" value="KFUPM FACULTY PROMOTION &lt;facpromote@kfupm.edu.sa &gt;"/>
    <add key="ReportServer.User" value="Administrator"/>
    <add key="ReportServer.Password" value="2008Template"/>
    <add key="ReportServer.Domain" value="fedoraweb2.kfupm.edu.sa"/>
    <add key="TopAuthority_Title" value="Scientific Council Chairman and Vice President of Research and Innovation"/>
    <add key="TopAuthority_TitleShort" value="VPRI"/>
    <add key="OrganizationShortName" value="KFUPM"/>
    <add key="OrganizationName" value="King Fahd University of Petroleum and Minerals"/>
    <add key="OrganizationAddress" value="Dhahran Saudi Arabia"/>
    <add key="WebsiteURL" value="http://facultypromotion.kfupm.edu.sa/"/>
    <!--<add key="LogoutURL" value="https://login.kfupm.edu.sa:8447/cas-web/logout?url=http://facultypromotion.kfupm.edu.sa/Login.aspx" />-->
    <!--<add key="LogoutURL" value="https://login.kfupm.edu.sa/logout?url=https://facultypromotion.kfupm.edu.sa/Login.aspx" />-->
    <add key="LogoutURL" value="https://login.kfupm.edu.sa/cas/logout?url=https://facultypromotion.kfupm.edu.sa/Login.aspx"/>
    <add key="OrganizationEmail" value="@kfupm.edu.sa"/>
    <add key="System_Title" value="Faculty Promotion System"/>
    <!--<add key="ReportServer.User" value="reports" />
    <add key="ReportServer.Password" value="reports$reports" />
    <add key="ReportServer.Domain" value="localhost" />-->
    <!--<add key="KFUPM_CAS_URL" value="https://mykfupm.kfupm.edu.sa:8447/cas-web/"/>-->
    <!--<add key="KFUPM_CAS_URL" value="https://login.kfupm.edu.sa:8447/cas-web/" />-->
    <add key="KFUPM_CAS_URL" value="https://login.kfupm.edu.sa/cas/"/>
    <add key="CASLoginURL" value="https://login.kfupm.edu.sa/cas/login"/>
    <add key="CASValidateURL" value="https://login.kfupm.edu.sa/cas/serviceValidate"/>
    <add key="CASLogoutURL" value="https://login.kfupm.edu.sa/cas/logout"/>
    <add key="TechnicalAdminEmail" value="KFUPM FACULTY PROMOTION &lt;facpromote@kfupm.edu.sa &gt;"/>
    <add key="OrganizationEmail1" value="@kfupm.edu.sa"/>
    <add key="OrganizationEmail2" value="@abc.sa"/>
    <!--
    <add key="staff-web-service-url" value="https://staff-web-service.test.kfupm.edu.sa/" />    
    <add key="staff-web-service-employee-endpoint" value="employee" />
    <add key="dept-web-service-url" value="https://staff-web-service.test.kfupm.edu.sa/v2/" />
    <add key="dept-web-service-alldept-endpoint" value="departments" />  

    <add key="web-service-username" value="ri_test" />
    <add key="web-service-pwd" value="OPLvrIgHMLvZLYxZwqP8qMz0CJAIiVMlEr9PqSXoT4Fve65zDjDVGVTitSISdpI" />-->
    <add key="staff-web-service-url" value="https://staff-web-service.test.kfupm.edu.sa/v2/"/>
    <add key="staff-web-service-employee-endpoint" value="employees"/>
    <add key="dept-web-service-url" value="https://staff-web-service.test.kfupm.edu.sa/v2/"/>
    <add key="dept-web-service-alldept-endpoint" value="departments"/>
    <add key="web-service-username" value="faculty-promotion"/>
    <add key="web-service-pwd" value="FeBeOX3Tj04Ay4cHXzgH4rxkUszyvBCyKBxxi8UsR77FHdkgmLK5MA3DIJV55t6"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="LocalConnectionString" connectionString="Data Source=.;Initial Catalog=FPSDB;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="ERPConnectionString" connectionString="Provider=MSDAORA;Data Source=bisprd4;Persist Security Info=True;Password=fp5_qu3ry;User ID=fps_query" providerName="System.Data.SQLOLEDB"/>
    <add name="PromotionConnectionString" connectionString="Data Source=vro-db.kfupm.edu.sa;Initial Catalog=FPSDB;User ID=fps;Password=9uuD8hP6UFbAH4xb" providerName="System.Data.SqlClient"/>
    <add name="ConnectionString" connectionString="Data Source=vro-db.kfupm.edu.sa;Initial Catalog=FPSDB;Persist Security Info=True;User ID=fps;Password=9uuD8hP6UFbAH4xb" providerName="System.Data.SqlClient"/>
    <add name="FPSDB_1ConnectionString" connectionString="Data Source=vro-db.kfupm.edu.sa;Initial Catalog=FPSDB;Persist Security Info=True;User ID=fps;Password=9uuD8hP6UFbAH4xb" providerName="System.Data.SqlClient"/>
    <add name="FPSDB_1ConnectionString2" connectionString="Data Source=vro-db.kfupm.edu.sa;Initial Catalog=FPSDB;User ID=fps" providerName="System.Data.SqlClient"/>
    <add name="VIEWConnectionString" connectionString="Data Source=10.140.2.4;User ID=fps_query;Password=fp5_qu3ry" providerName="System.Data.OracleClient"/>
    <add name="HRConnectionString" connectionString="Data Source=vro-db.kfupm.edu.sa;Initial Catalog=HR;Persist Security Info=True;User ID=fps;Password=9uuD8hP6UFbAH4xb" providerName="System.Data.SqlClient"/>
    <add name="FPSDBConnectionString" connectionString="Data Source=vro-db.kfupm.edu.sa;Initial Catalog=FPSDB;Persist Security Info=True;User ID=fps;Password=9uuD8hP6UFbAH4xb" providerName="System.Data.SqlClient"/>
    <add name="HRConnectionString1" connectionString="Data Source=vro-db.kfupm.edu.sa;Initial Catalog=HR;User ID=fps;Password=9uuD8hP6UFbAH4xb" providerName="System.Data.SqlClient"/>
    <add name="BannerCS" connectionString="DATA SOURCE=PROD8;PASSWORD=vrgssr_banner;PERSIST SECURITY INFO=True;USER ID=VRGSSR_BANNER" providerName="Oracle.ManagedDataAccess.Client"/>
    <add name="BIHRCS" connectionString="DATA SOURCE=PRODEDW;PASSWORD=vrgssr;PERSIST SECURITY INFO=True;USER ID=vrgssr" providerName="Oracle.ManagedDataAccess.Client"/>
    <!--<add name="FPSDBEntities1" connectionString="metadata=res://*/App_Code.BL.Data.FPSModel.csdl|res://*/App_Code.BL.Data.FPSModel.ssdl|res://*/App_Code.BL.Data.FPSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vro-db;initial catalog=FPSDB;persist security info=True;user id=sa-vrr;password=subhanallah213;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FPSDBEntities2" connectionString="metadata=res://*/App_Code.BL.Data.FPSModel.csdl|res://*/App_Code.BL.Data.FPSModel.ssdl|res://*/App_Code.BL.Data.FPSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vro-db.kfupm.edu.sa;initial catalog=FPSDB;user id=fps;password=9uuD8hP6UFbAH4xb;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FPSDBEntities3" connectionString="metadata=res://*/App_Code.BL.Data.FPSModel.csdl|res://*/App_Code.BL.Data.FPSModel.ssdl|res://*/App_Code.BL.Data.FPSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vro-db.kfupm.edu.sa;initial catalog=FPSDB;user id=fps;password=9uuD8hP6UFbAH4xb;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FPSDBEntities4" connectionString="metadata=res://*/App_Code.BL.Data.FPSModel.csdl|res://*/App_Code.BL.Data.FPSModel.ssdl|res://*/App_Code.BL.Data.FPSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vro-db.kfupm.edu.sa;initial catalog=FPSDB;user id=fps;password=9uuD8hP6UFbAH4xb;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="FPSDBEntities" connectionString="metadata=res://*/App_Code.BL.Data.FPSModel.csdl|res://*/App_Code.BL.Data.FPSModel.ssdl|res://*/App_Code.BL.Data.FPSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vro-db.kfupm.edu.sa;initial catalog=FPSDB;persist security info=True;user id=fps;password=9uuD8hP6UFbAH4xb;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="FPSDBEntities" connectionString="metadata=res://*/App_Code.BL.Data.FPSModel.csdl|res://*/App_Code.BL.Data.FPSModel.ssdl|res://*/App_Code.BL.Data.FPSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vro-db;initial catalog=FPSDB;user id=fps;password=9uuD8hP6UFbAH4xb;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="FPSDBEntities" connectionString="metadata=res://*/App_Code.BL.Data.FPSModel.csdl|res://*/App_Code.BL.Data.FPSModel.ssdl|res://*/App_Code.BL.Data.FPSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vro-db;initial catalog=FPSDB_TestProd;user id=fps;password=9uuD8hP6UFbAH4xb;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="FPSDBEntities" connectionString="metadata=res://*/App_Code.BL.Data.FPSModel.csdl|res://*/App_Code.BL.Data.FPSModel.ssdl|res://*/App_Code.BL.Data.FPSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=FPSDB;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="FPSDBEntities" connectionString="metadata=res://*/App_Code.BL.Data.FPSModel.csdl|res://*/App_Code.BL.Data.FPSModel.ssdl|res://*/App_Code.BL.Data.FPSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vro-db.kfupm.edu.sa;initial catalog=FPSDB_new;persist security info=True;user id=fps;password=9uuD8hP6UFbAH4xb;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <!--<location path="ADSL.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="images">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ExtForms">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ExtLogin.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ExtLogout.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ExtPCForms">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ExtPCLogin.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Help.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="App_Themes">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>-->
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime maxRequestLength="102400"/>
    <globalization culture="en-US" uiCulture="en-US"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms defaultUrl="Login.aspx"/>
    </authentication>
    <!--<authorization>
      <deny users="?"/>
    </authorization>-->
    <sessionState mode="InProc" timeout="120"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        -->
    <customErrors defaultRedirect="~/ErrorPage.htm" mode="RemoteOnly"/>
    <compilation debug="true" targetFramework="4.7.2">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider"/>
      </buildProviders>
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.ComponentModel.DataAnnotations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Net.Http, Version=4.2.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <!--<httpRuntime targetFramework="4.6.1" />-->
    <!--<membership defaultProvider="SqlProvider"
          userIsOnlineTimeWindow="15">
      <providers>
        <clear/>
        <add name="SqlProvider"
          type="System.Web.Security.SqlMembershipProvider"
          connectionStringName="SqlServices"
          applicationName="SampleApplication"
          enablePasswordRetrieval="true"
          enablePasswordReset="true"
          passwordFormat="Encrypted"
          requiresQuestionAndAnswer="true" />
      </providers>
    </membership>
    <profile defaultProvider="SqlProvider">
      <providers>
        <clear />
        <add name="SqlProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="SqlServices" applicationName="SampleApplication" description="SqlProfileProvider for SampleApplication" />
      </providers>
      <properties>
        <add name="Language">
        </add>
      </properties>
    </profile>-->
    <pages styleSheetTheme="Default" enableEventValidation="false" maintainScrollPositionOnPostBack="true" enableSessionState="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="uc10" src="~/Controls/Independent Controls/Alert.ascx" tagName="Alert"/>
        <add tagPrefix="uc2" src="~/Controls/Independent Controls/Confirm.ascx" tagName="Confirm"/>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
      <add verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect"/>
      <!--<remove verb="POST,GET" path="Upload.axd"/>
      <add verb="POST,GET" path="Upload.axd" type="Upload"/>-->
    </httpHandlers>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="KFUPM FACULTY PROMOTION &lt;facpromote@kfupm.edu.sa &gt;">
        <network host="mail.kfupm.edu.sa" password="kfupm3881$" userName="facpromote" port="587"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer xmlns="">
    <modules runAllManagedModulesForAllRequests="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <!--<validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </handlers>-->
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>